body {
	font-family: Geneva, sans-serif ;
	background-color: #FFFFF0;
}
article{
	width: 720px;
	background-color: white ;
	padding: 0;
	margin: 20px auto ;
}

#container {
	padding: 20px;
	margin: 20px auto;
}

header {
	padding: 20px 10px;
	background-color: orange;
	color: white;
}

a{
	background-color: #FCF0AA;
	padding: 10px;
	color: #303030;}

th{
	text-align: left;
	background-color: #EAEAEA;
	padding: 10PX;
	margin:0;
}
table{
	width: 100%;
	border-spacing: 0;
	margin: 20px 0;
	padding: 0;
	border: 1px solid #CCC;
}
td{
	padding: 10px;
}
img{
	display: block;
	margin: 0 auto;
}
}